Django==2.0.3
django-crispy-forms==1.7.2
django-extensions==2.0.7
django-form-utils==1.0.3
django-model-utils==3.1.1
django-widget-tweaks==1.4.2
Pillow==5.0.0
python-decouple==3.1
pytz==2018.3
six==1.11.0
sqlparse==0.2.4
typing==3.6.4
