.login-page .card-login {
	margin-bottom: 4.8em;
}

.login-page .card-login .card-body {
	padding-top: 2em;
	padding-bottom: 2em;
}

.login-page .card-login  .bmd-form-group {
	display: inline-block;
	margin-bottom: 1.2em;
}

.display-block {
	display: block !important;
}