{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card ">  
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">Form Elements</h4>
                </div>
            </div>
            
            <div class="card-body ">
                <form method="get" action="#" class="form-horizontal">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="row">
                        <label class="col-sm-3 col-form-label">{{ field.label }}</label>
                        <div class="col-sm-9">
                            <div class="form-group">
                                {{ field }}
                                <span class="bmd-help">{{ field.help_text }}</span>
                            </div><!-- /.form-group -->
                        </div><!-- /.col-sm-10 -->
                    </div><!-- /.row -->
                    {% endfor %}

                    <div class="card-footer ">
                        <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                    </div><!-- /card-footer -->
                </form>
            </div><!-- /.card-body -->
        </div><!--/.card -->
    </div><!-- /.col-sm-12 -->
</div><!-- /.row -->
{% endblock content %}