{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">All Projects</h4>
          </div>
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <div class="material-datatables">
                    <table id="projectDatatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Project</th>
                                <th>Type</th>
                                <th class="text-center">Last Updated</th>
                                <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Status</th>
                                <th>Project</th>
                                <th>Type</th>
                                <th class="text-center">Last Updated</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for project in project_list %}
                            <tr>
                                <td>
                                   {% if project.get_last_status %}
                                       {% autoescape off %}
                                          {{ project.get_last_status.html_label }}
                                       {% endautoescape %}
                                   {% else %}
                                        <span class="btn btn-round btn-sm btn-default">Not Available</span>
                                   {% endif %}
                                </td>
                                <td>
                                    <a href="#" title="{{ project.full_name }}">{{ project.short_name }}</a>
                                </td>
                                <td>{{ project.get_construction_type_display }}</td>
                                <td class="text-center">{{ project.updated_at|date:'d/m/Y' }}</td>
                                <td class="text-right">
                                    <a href="#" class="btn btn-sm btn-outline btn-primary">Follow</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- end content-->
        </div><!--  end card  -->
    </div>
</div><!-- /.row -->

{% if user.is_project_admin %}
<div class="row">
    <div class="col-sm-12">
        <a href="#" title="Add new project" class="btn btn-sm btn-outline btn-primary pull-right">
           <span class="fa fa-plus-circle"></span>&nbsp; New Project 
        </a>
    </div>
</div>
{% endif %}
{% endblock content %}